* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #001219;
}

body {
  /* background-color: #E9D8A6; */
  background-image: url('/images/mongooseairport.jpg');
  background-size: cover;
  margin: 0;
  height: 50vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #CA6702;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

h2 {
  text-align: center;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #AE2012;
}

nav > a.active {
  color: white;
  cursor: default;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
  margin-left: 16em;
}

#new-form *,
#add-destinations-form * {
  font-size: 17px;
  padding: 10px;
  border-radius: 5px;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 3px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#list a {
  border-radius: 4px;
  background-color: #EE9B00;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: #AE2012;
}

a, button {
  box-shadow: inset 0 0 0 0 #ff8427;
  color: #001219;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .5s ease-in-out, box-shadow .3s ease-in-out;
 }

 a:hover, button:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #ff8427;
 }

.detail-link {
  text-align: right;
}


#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-destinations-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-destinations-form input[type="submit"] {
  width: 10rem;
}

hr {
  color: #424748
}


ul {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}
	
li {
  font-weight: bold;
}

.create-btn {
  width: 200px;
  background-color: #EE9B00;
  font-size: 1.1rem;
  border-radius: 5px;
  margin-left: 9px;
}

#delete-flight {
  background-color: #BB3E03;
  color: aliceblue;
  border-radius: 5px;
}

.add-flight-container {
  width: 50%;
  margin: 0 auto;
 
}

#select-airport {
  width: 100px;
}

label {
  font-size: 16px;
}

.flight-detail-container {
  margin-left: 1em;
}

#details-h2 {
  text-align: left;
}
